    <div class="title-bar">
        <h3>Recent Submissions Table</h3>
        <button class="ghost-btn">View all</button>
    </div>
      <div class="card table">
<div class="table-card">


    <div class="filters">
        <div class="field with-icon">
            <img src="assets/icons/search_icon.svg" alt="Search" class="icon" />
            <input class="input-with-icon" type="text" [(ngModel)]="searchTerm" placeholder="Search" />
        </div>


        <div class="field with-icon">
            <input type="date" [(ngModel)]="selectedDate" />
        </div>

        <div class="field with-icon">
            <select [(ngModel)]="selectedStatus">
                <option *ngFor="let s of statuses" [value]="s">{{ s }}</option>
            </select>
            <span class="ico caret"></span>
        </div>

        <button class="primary">Search</button>
    </div>

    <div class="thead">
        <div>File Name</div>
        <div>Type</div>
        <div>Date</div>
        <div>Score</div>
        <div>Status</div>
        <div>Action</div>
    </div>

    <div class="tbody scrollable">
        <div class="row" *ngFor="let r of filtered">
            <div class="cell">{{ r.name }}</div>
            <div class="cell">{{ r.type }}</div>
            <div class="cell">{{ r.date }}</div>

            <div class="cell score">
                <span [ngClass]="scoreDotClass(r.status)"></span>
                <span class="val">{{ r.score }}%</span>
            </div>

            <div class="cell">
                <span [ngClass]="statusBadgeClass(r.status)">{{ r.status }}</span>
            </div>

            <div class="cell action">
                <button class="pill">Details</button>
            </div>
        </div>
    </div>
</div>
      </div>
