<app-dashboard-header (navigate)="onNavigate($event)"
></app-dashboard-header>

<div class="dashboard-layout">

  <div class="main-content">
 

    <app-monthly-compliance-chart></app-monthly-compliance-chart>

    <section class="grid-2">
      <app-compliance-status-overview></app-compliance-status-overview>
      <app-monthly-compliance-performance></app-monthly-compliance-performance>
    </section>

    <app-recent-submissions-table></app-recent-submissions-table>
  </div>

  <aside class="sidebar">
    <app-stats-cards></app-stats-cards>
    <app-recent-updates></app-recent-updates>
    <app-upcoming-deadlines></app-upcoming-deadlines>
  </aside>
</div>
