  <h3 class="header">Upcoming Deadlines</h3>
<div class="card">


  <div class="scroll-area">
    <div class="deadlines-wrapper">
      <div class="deadline-item" *ngFor="let d of deadlines">
        <div class="title" [ngClass]="d.type">{{ d.title }}</div>

        <div class="meta">
          <div class="meta-item">
            <img src="assets/icons/user_avatar_icon.svg" alt="user_avatar_icon" class="icon" />
            <span>Requester</span>
            <strong>{{ d.requester }}</strong>
          </div>

          <div class="meta-item">
            <img src="assets/icons/calendar_icon.svg" alt="calendar_icon" class="icon" />
            <span>Date</span>
            <strong>{{ d.date }}</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
