<aside class="card side">
  <div class="brand">
    <img src="assets/icons/main_logo.svg" alt="Digital Sharjah" class="main-logo" />
  </div>

  <nav class="menu">
    <a class="item active" (click)="reloadPage()">
      <img src="assets/icons/home.svg" alt="Home" class="icon" />
      Home
    </a>
    <a class="item">
      <img src="assets/icons/projects.svg" alt="Projects" class="icon" />
      My Projects
    </a>
    <a class="item">
      <img src="assets/icons/standards.svg" alt="Standards" class="icon" />
      Standards & Guidelines
    </a>
    <a class="item">
      <img src="assets/icons/analytics.svg" alt="Analytics" class="icon" />
      Analytics & Reports
    </a>
  </nav>
</aside>