@switch (activePage) {
@case (dashboardPageType.Home) {
<app-dashboard-home (navigate)="setPage($event)"></app-dashboard-home>
}
@case (dashboardPageType.UploadNewFile) {
<app-upload-project (fileType)="onFileType($event)" (sendFile)="onUploadFile($event)" (navigate)="setPage($event)"></app-upload-project>
}
@case (dashboardPageType.UploadProgress) {
<app-upload-progress [uploadedData]="uploadedPayload" (finalReport)="onReportSubmit($event)"
  (navigate)="setPage($event)"></app-upload-progress>
}
@case (dashboardPageType.FeedbackReport) {
<app-feedback-report [fileType]="fileType" [responseData]="responseData"></app-feedback-report>
}
}