<div class="hero card">
  <div class="welcome-badge">Welcome, Mohammad Ahmad</div>

  <div class="search-box">
  <img src="assets/icons/search_icon_2.svg" alt="search" class="search-icon" />
  <input type="text" placeholder="Search" />
</div>


  <div class="actions">
    <button class="btn" (click)="onClick(dashboardPageType.UploadNewFile)">
      <img src="assets/icons/upload.svg" alt="Upload" />
      Upload New File
    </button>

    <button class="btn" (click)="onClick(dashboardPageType.PendingApprovals)">
      <img src="assets/icons/pending.svg" alt="Pending" />
      Pending Approvals
    </button>

    <button class="btn" (click)="onClick(dashboardPageType.ApprovedRequests)">
      <img src="assets/icons/approved.svg" alt="Approved" />
      Approved Requests
    </button>

    <button class="btn" (click)="onClick(dashboardPageType.RecentUploads)">
      <img src="assets/icons/recent.svg" alt="Recent" />
      Recent Uploads
    </button>
  </div>
</div>
