<header class="top">
  <div class="left">
    <h1>Sharjah Building Compliance Checker</h1>
  </div>

  <div class="right">
    <div class="icons">
      <button class="icon-btn">
        <img src="assets/icons/notifications.svg" alt="Notifications" />
      </button>
      <button class="icon-btn">
        <img src="assets/icons/accessibility.svg" alt="Accessibility" />
      </button>
      <button class="icon-btn">
        <img src="assets/icons/language.svg" alt="Language" />
      </button>
    </div>
    <div class="profile">
      <img src="assets/images/person.png" alt="Person" class="avatar" />
      <div class="info">
        <div class="name">
          Mohammad Ahmad
          <span class="ico caret"></span>
        </div>
        <div class="email">ma@blackstoneit.com</div>
      </div>
    </div>
  </div>
</header>